*{
    box-sizing:border-box;
    text-decoration: none;
    margin: 0px;
    padding:0px;
    
}

.logo{
    width: 29px;
    height: 24px;
}

.logo:hover{
    background:rgb(32, 35, 39);
    cursor: pointer;
}
/* Styling to svg icons on sidebar */
.r-jwli3a {
    fill:  rgb(214, 217, 219);
    width: 1.75rem;
}

.r-vlxjld {
    fill:rgb(214, 217, 219); 
    margin-right: 20px;   
    width: 1.75rem;
}

.sidebar{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-basis: auto;
    width: 30%;
    padding: 12px;
    background: black;
    
}
.nav-items span{
    display:flex;
    justify-content: flex-start;
    height: 50px;
    color: rgb(214, 217, 219);
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 20px;
    border-radius: 9999px;
}

.nav-items{
    padding: 12px;
}

.nav-items .item:hover{
    cursor: pointer;
    background:rgb(32, 35, 39);
}

.tweet-button{
    color: rgb(214, 217, 219);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    background:rgb(29, 155, 240);
}
.tweet-button:hover{
    cursor: pointer;
    background:rgb(29, 155, 240);
    
}

.middle-bar{
    background: red;
    width: 32%;
}

.left-bar{
    width: 38%;
}
.main{
    display: flex;
    height: 100vh;
    
}