/* *{
    margin: 0px;
    padding:0px;
} */

.logo{
    width: 29px;
    height: 24px;

}
.nav-items span{
    display:flex;
    justify-content: flex-start;
    height: 22px;
}

.nav-items .item:hover{
    cursor: pointer;
    background: #27343f00;
}